<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径配置 -->
<mapper namespace="com.self.user.dao.UserDao">

	<select id="selectUserInfo" parameterType="UserInfo"
		resultType="UserInfo">
		SELECT * FROM UserInfo  where user_name=#{user_name} and password=#{password}
	</select>
	<select id="selectAllUserInfo" parameterType="UserInfo"
		resultType="UserInfo">
		SELECT * FROM UserInfo    
	</select>
</mapper>